#sidebar-wrapper {
    left: -300px;
    width: 300px;
    background-color: #51A8B1;
    color: rgb(224, 125, 125);
    position: fixed;
    height: 100%;
    z-index: 1;
    }
    .sidebar-nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    list-style: none;
    }
    .sidebar-nav li {
    font-size: 20px;
    text-indent: 55px;
    line-height: 70px;
    }
    .sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
    }
    .sidebar-nav li a:hover {
    background: #448B93;
    color: white;
    text-decoration: none;
    }
    .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
    }

    #ufpb-logo{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 110px;
    }
    #sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
    }

    #main{
    padding-left: 70px;

    }
    @media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s;
        left: 200px;
    }
}